/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

@font-face {
    font-family: 'BookOS'; /*a name to be used later*/
    src: url('https://accrete.caltech.edu:8080/fonts/BOOKOS.TTF'); /*URL to font*/
}

@font-face {
    font-family: 'Harrington'; /*a name to be used later*/
    src: url('https://accrete.caltech.edu:8080/fonts/HARRINGT.TTF'); /*URL to font*/
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'BookOS','HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:16px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

/* Portrait layout (default) */
.app {
    /*background:url(../img/logo.png) no-repeat center top; 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:8px;
    -webkit-border-radius:8px;
    color:#FFFFFF;
    font-size:14px;
    margin:5px 10px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

#map {
  position:fixed;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

#ui {
  position:fixed;
  width: 200px;
  height: 150px;
  bottom:0px;
  border-style: solid;
  border-width: thin;
  background-color: #fff;
  background-image: url('https://accrete.caltech.edu:8080/img/luna_nova.png');
  background-position: right bottom;
  background-repeat: no-repeat;
  z-index: 10;
  display:none;
}

#full-body-load {
  position:fixed;
  left:0;
  top:0;
  height:100%;
  z-index: 100;
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

#video-player {
  display: none;
  position:fixed;
  left:0;
  top:0;
  z-index: 50;
}

#overlay {
  display: none;
  position: fixed;
  left:0;
  top:0;
  height:100%;
  width:100%;
  background-color: #fff;
  background-image: url('https://accrete.caltech.edu:8080/img/luna_nova.png');
  background-position: right bottom;
  background-repeat: no-repeat;
  z-index:49;
  overflow: scroll;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 12px;
}

::-webkit-scrollbar:horizontal {
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
}

#close-overlay
{
  position:fixed;
  box-sizing:border-box;
  width:20px;
  height:20px;
  border-width:3px;
  border-style: solid;
  border-color:#555;
  border-radius:100%;
  background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%);
  background-color:#555;
  /*box-shadow:0px 0px 5px 2px rgba(0,0,0,0.5);
  transition: all 0.3s ease;*/
  left: 0;
  top: 0;
  z-index: 102;
}

.marker {
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    background-size:100%;
}

#center_character {
    width: 20px;
    height: 20px;
    margin: 5px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#toggle_fullscreen {
    width: 20px;
    height: 20px;
    margin: 5px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: inline-block;
}
#quests {
    width: 20px;
    height: 20px;
    margin: 5px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#book {
    width: 20px;
    height: 20px;
    margin: 5px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#moonrunes {
    width: 20px;
    height: 20px;
    margin: 5px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /*display: inline-block;*/
}
p {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 2px;
  margin-right: 2px;
  padding: 0;
}
.portrait {
    height: 32px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: inline-block;
}
.suptext {
    text-align:left;
    /*border-style: solid;
    border-width: thin;*/
    font-family:'Harrington';
    color:#3E1414;
    font-size: 26px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.text {
    text-align:left;
}
#connection {
    position:fixed;
    z-index: 11;
    font-family:monospace;
    background-color:#ddd;
    padding: 2px;
    font-size: 10px;
    left: 0px;
    bottom: 0px;
    z-index: 101;
    color: #8b0000;
}
#wrapper {
    position: fixed;
    left:0;
    top:0;
    height:100%;
    width:100%;
    background-color: #fff;
    background-image: url('https://accrete.caltech.edu:8080/img/luna_nova.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    z-index:49;
    overflow: scroll;
}
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}
